{% set children = object.children %}

<div class="container-fluid">
    {% for row in children|batch(2) %}
        <div class="row">
            {% for child in row %}
                <div class="col-md-6 col-lg-6">
                    <table class="table">
                        <tbody>
                        {% block show_field %}
                            <tr class="sonata-ba-view-container">
                                {% if elements['last_name'] is defined %}
                                    {{ elements['last_name']|render_view_element(child)}}
                                {% endif %}
                            </tr>
                            <tr class="sonata-ba-view-container">
                                {% if elements['first_name'] is defined %}
                                    {{ elements['first_name']|render_view_element(child)}}
                                {% endif %}
                            </tr>
                            <tr class="sonata-ba-view-container">
                                {% if elements['middle_name'] is defined %}
                                    {{ elements['middle_name']|render_view_element(child)}}
                                {% endif %}
                            </tr>
                            <tr class="sonata-ba-view-container">
                                {% if elements['email'] is defined %}
                                    <th class="diff">E-mail</th>
                                    <td>
                                        <a href="{{ admin.generateObjectUrl('show', child) }}">
                                            {{ child.getEmail() }}
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                            <tr class="sonata-ba-view-container">
                                {% if elements['phone'] is defined %}
                                    {{ elements['phone']|render_view_element(child)}}
                                {% endif %}
                            </tr>
                            <tr class="sonata-ba-view-container">
                                <th class="diff">Дата регистрации</th>
                                <td>
                                    {% set data = child.getCreatedAt().format('d.m.Y') %}
                                    {% if(data is defined) %}
                                        {{ data|nl2br }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endblock %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
</div>